<p>{{ instance.user }} a publié une critique</p>
<ul class="list-group">
    <li class="list-group-item"><h4>Ticket : {{ instance.ticket }}</h4></li>
    <li class="list-group-item">Rating : {{ instance.rating }}</p></li>
    <li class="list-group-item">Headline : {{ instance.headline }}</p></li>
    <li class="list-group-item">Body : {{ instance.body }}</p></li>
    <li class="list-group-item"><strong>Écrit par {{ instance.user }}</strong></li>
    <li class="list-group-item">{{ instance.date_created }}</p></li>
</ul>