<div style="display: flex; margin-top: 20px; ">
    <p >Vous avez publié une critique</p>
    <p style=" margin-left: 50px">{{ review.time_created }}</p>
</div>
<ul class="list-group">
    <li class="list-group-item">{{ instance.headline }}</li>
    <li class="list-group-item">{{ instance.display_rating | safe }}</li>
    <li class="list-group-item">{{ instance.body }}</li>
    <li class="list-group-item">
        <p>Ticket - {{ instance.ticket.user }}</p>
        <p>{{ instance.ticket.title }}</p>
        <p>{{ instance.ticket.description }}</p>
        {% if instance.ticket.image %}
        <img src="{{ instance.ticket.image.url }}" style="width: 100px; height: 150px;">
        {% endif %}
    </li>
    <div>
        <a href="{% url 'update-review' review.id %}" style="margin-left: 225px">
            <button style="margin-left:00px" aria-label="Modifier la critique">Modifier</button>
        </a>
        <a href="{% url 'delete-review' review.id %}" style="margin-left: 10px">
            <button style="margin-left:00px" aria-label="Supprimer la critique">Supprimer</button>
        </a>
    </div>
</ul>
