{% extends 'critical/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4 style="text-align:center">Vos posts</h4>
<div class="container">
  <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm" style="border:solid">
        {% for instance in reviews_and_tickets %}
            {% if instance.content_type == 'Review' %}
                {% include 'critical/partials/posts_snippet_review.html' with review=instance %}
            {% elif instance.content_type == 'Ticket' %}
                {% include 'critical/partials/posts_snippet_ticket.html' with ticket=instance %}
            {% endif %}
        {% endfor %}
      </div>
      <div class="col-sm"></div>
  </div>
</div>

{% endblock %}